/* Here we are styling the body */
body {
	background: lightcyan; /* Set the background to a light bluish color */
	width: 800px;		   /* Set the body width to 800 pixels */
	margin: auto;		   /* Set the margin to auto to align the text to the center */
}

h1 {
	color: maroon;
	text-align: center;
}

p {
	color: gray;
	border: 1px solid gray;
	padding: 10px;
}

/* We can add a class to any DOM element */
a.first_link {
	color: cornflowerblue;
	text-decoration: none; /* Remove the default underline */
}

/* Example of pseudoclass */
a.first_link:visited {
	color: tomato;
}

a.second_link {
	color: tomato;
	text-decoration: none; /* Remove the default underline */
}

a.second_link:hover {
	text-decoration: underline;
}

a.second_link:visited {
	color: cornflowerblue;
}