* {
	margin: 0;
	padding: 0;
}

body {
	background: ivory;
	margin: auto;
	width: 855px;
	font-size: 100%;
	font-family: sans-serif;
}

header {
	overflow: auto;
	border-bottom: 1px solid darkslategray;
}

header h1 {
	float: left;
	width: 285px;
}

header p {
	float: right;
	width: 570px;
	font-style: italic;
	margin-top: 10px;
}

main {
	overflow: auto;
	padding: 30px 0;	/* Margin top, right, bottom, left. When top is declared but bottom is not, then bottom follows top. Same for left & right */
	border-bottom: 1px solid darkslategray;
}

main section.comment-input {
	float: left;
	width: 285px;
}

.comment-input p {
	margin-bottom: 10px;
}

.comment-input input {
	width: 80%;
	height: 30px;
	font-size: 1.2em;
	font-weight: bold;
}

.comment-input button {
	font-weight: bold;
	padding: 3px;
	border-radius: 5px;		/* Curve the corners */
	color: ivory;
	background: olivedrab;
	cursor: pointer;		/* Change the mouse cursor to a pointer when it hovers above the button */
	font-size: 1.5em;
	margin-left: 5px;
}

main section.comments {
	float: right;
	width: 570px;
}

.comments p {
	padding: 5px;
	margin-bottom: 10px;
	border-radius: 5px;	
}

section.comments p:nth-child(even) {
	background: lavender;
}

section.comments p:nth-child(odd){
	background: gainsboro;
}

footer {
	font-size: smaller;
	margin-top: 5px;
	clear: both;
}