body {
	background: #f9e933;
	font-family: 'Droid Sans', sans-serif;
}

header, main, footer {
	min-width: 855px;
}

main {
	background: #fff;
	border-radius: 0 5px 5px 5px; /*add rounded borders*/
	padding: 40px;
}

a {
	color: #f00;
	text-decoration: none;
	font-weight: bold;
}

/* Footer headings */
h5 {
	font-family: 'Ubuntu', sans-serif;
	font-size: 1.25em;
	margin-bottom: 20px;
}

footer {
	border-top: 1px solid #ddd;
	padding: 40px 0 20px 0;
}

footer .contact {
	float: left;
	width: 570px;
}

/* for every <p> element that is the second child of its parent */
footer .contact p:nth-child(2) {
	color: #b33;
	font-style: italic;
}

footer ul {
	width: 230px;
}

footer .container {
	max-width: 855px;
	margin: auto;
}

footer .sitemap {
	float: right;
	width: 285px;
}

footer .sitemap .left {
	float: left;
}

footer .sitemap .right {
	float: right;
}

li {
	list-style: none;
}